<router-outlet></router-outlet>

<form>
    <h2>Costanzo Abril. Ej clase 01. Calculadora.</h2>
  
    <label>Edad 1 </label><input type="number" [(ngModel)]="edadUno" name="edadUno">
    <label>Edad 2 </label><input type="number" [(ngModel)]="edadDos" name="edadDos">
    
    <br><br>
    <input type="button" (click)="calcular()" value="Calcular">
    
    <br><br>
    <input type="reset" value="Limpiar cuadros de textos">
  
    <h2>Suma</h2>
    <input readonly type="number" [(ngModel)]="resultadoSuma" name="suma">
    <h2>Promedio</h2>
    <input readonly type="number" [(ngModel)]="resultadoPromedio" name="promedio">
    
</form>